[
	{
		"type": "local",
		"id": "local",
		"passwordInfos": [
			{
				"userId":"elroy-id",
				"passwordPlaintext": "bones"
			},
			{
				"userId":"penny",
				"passwordPlaintext": "kibble"
			}
		]
	},
	{
		"type": "ssh",
		"id": "ssh",
		"sshIdentities": [
			{
				"userId":"nisha",
				"publicKeys": [
					{
						"format": "ssh-rsa",
						"AAAAB3NzaC1yc2EAAAADAQABAAABAQDFs48s+C3CN0Do035ogGtS7pYTpgJpotkNsNBhyRooTTglH0B3RTEGc3fBs4MqBMDqBSqgmU0N1Cg15a/CouSwRLV/WyzqZP/tXbnPBaNufFG9S386vA91q5ZOuNaQD8iFYPJ63+pLTTEat/VhCaYcaxaV2nnO6Tj5kWDckJQdunSlJudW4EtyFyxWFdBoin4KDxVA4+ndu2SMnAFD4e5p/tc9VBc5aCqMls2DzTg6DvTW26OMutI8+Atp9YhPHu2/KkA0rhCMQUDqbhDWVK1xK71pBJCX80cJXU9s4pvCiA2mazNLaicfVGHxyTjd1fIx4iIAJFFy4HiQamP+Au8P"
			}
		]
	}
]
