[
    {
        "user":{
            "id": "elroy-id",
            "email": "elroy77@example.com",
            "displayName": "Elroy Jonez"
        },
        "remoteIdentities": [
            {
                "connectorId": "local",
                "id": "elroy-id"
            }
        ]
    },
    {
        "user":{
            "id": "nisha",
            "email": "nisha@example.com",
            "displayName": "Nisha George"
        },
        "remoteIdentities": [
            {
                "connectorId": "ssh",
                "id": "nisha"
            }
        ]
    }

]
